# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase Credentials (with fallbacks included in codebase)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCQrsn1RVROyNdtigPVO7KgLqc7ApotEag"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="david-portfolio-71fcc"

# Cloudinary Setup Parameters
CLOUDINARY_CLOUD_NAME="jzepzwix"
CLOUDINARY_UPLOAD_PRESET="David_Portfolio"
